body {
  font-family: "Poppins", sans-serif;
  color: black;
  font-size: 16px;
}
h1,
h2,
h3,
h4 {
  font-weight: 700;
  text-transform: capitalize;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
.highlight {
  color: #157347;
}
.box {
  border: none;
}
